/*BASE CSS*/

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --gold: #e1be67;
    --white: #ffffff;
    --black: #111;
    --grayblack: #333;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 1.8rem;
    font-weight: 400;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

h3 {
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 300;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 200px;
    height: auto;
}

.separator {
    background-color: var(--gold);
    border: 1px solid var(--gold);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50px;
}

.btn {
    border: 1px solid var(--gold);
    color: var(--gold);
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    width: 300px;
    height: auto;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all .5s;
}

.btn:hover {
    background-color: var(--gold);
    color: var(--black);
}

.center-btn-mobile {
    margin-left: auto;
    margin-right: auto;
}


/*END BASE CSS*/


/*animatie sageata*/

.arrow {
    animation: sageata 3s infinite;
}

@keyframes sageata {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, 10px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}


/*Section 1*/

.hero-section {
    background: url(img/hero-section-background.jpg);
    background-size: cover;
    background-color: #111;
    padding-top: 20px;
    padding-bottom: 80px;
}

.hero-section p,
h1,
h2,
h3 {
    text-align: center;
}


/*ECHIPA SECTION*/

.echipa-section {
    padding: 100px 0;
}

.basic {
    display: block;
    width: 100%;
}

.people-column {
    margin-bottom: 20px;
}


/*END ECHIPA SECTION*/


/*AVANTAJE SECTION*/

.avantaje-section {
    padding: 100px 0;
    background-color: #333;
}

.avantaje-section p {
    color: #fff;
}

.avantaje-section .separator {
    margin-top: 50px;
    margin-bottom: 50px;
}

.check-icon {
    margin-right: 10px;
    width: 24px;
    height: auto;
    float: left;
}

.avantaje-column {
    height: 150px;
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid var(--gold);
}


/*END AVANTAJE SECTION*/


/*FOOTER SECTION*/

.footer-section {
    background-color: #111;
    padding: 30px 0 10px 0;
}

.footer-section a {
    color: #fff;
}

.footer-section p {
    color: rgb(209, 209, 209);
    font-size: 14px;
}


/*END FOOTER SECTION*/


/*COPYRIGHT SECTION*/

.copyright-section {
    padding: 10px 0 0;
    background-color: #333;
}

.copyright-section p {
    color: rgb(209, 209, 209);
    font-size: 12px;
}

.copyright-section a {
    color: var(--gold);
}


/*END COPYRIGHT SECTION*/

.gdpr-section {
    padding: 100px 0;
}

@media screen and (min-device-width: 768px) {
    .avantaje-column {
        height: 170px;
    }
}

@media screen and (min-device-width: 1024px) {
    .hero-section p,
    h1,
    h2,
    h3 {
        text-align: left;
    }
    .hero-section .separator {
        margin-left: 0;
        width: 100%;
        height: 1px;
    }
    .arrow {
        display: none;
    }
    .center-btn-mobile {
        margin-left: 0;
    }
    .avantaje-column {
        height: 120px;
        margin-bottom: 20px;
        padding: 30px;
        border: 1px solid var(--gold);
    }
    .vertical-align {
        margin-top: auto;
        margin-bottom: auto;
    }
}